@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    position: relative;
    background: black;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 2;
    color: #F2F3F4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button {
    all: unset;
    cursor: pointer;
    transition: 150ms linear;
  }

  h1 {
    display: inline;
    line-height: 1.2;
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 600;
  }

  .title1,
  .title2 {
    display: inline;
    font-family: 'Clash Display', sans-serif;
    font-size: clamp(38px, 6vw, 132px);
    font-weight: 700;
    animation: fadeUp 750ms ease-in-out forwards;
    animation-delay: .5s;
    opacity: 0;
    line-height: 1.2;
  }

  .title2 {
    animation: fadeUp 750ms ease-in-out forwards;
    animation-delay: 1s;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50%)
    }

    100% {
      opacity: 1;
      transform: translateY(0%)
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  h2 {
    display: inline;
    color: #7C7C7C;
    font-weight: 400;
    font-size: clamp(20px, 2vw, 24px);
  }

  span {
    display: inline;
    color: #7C7C7C;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    line-height: 1.4;
  }

  a,
  button,
  .menu {
    display: inline;
    font-size: clamp(12px, 2vw, 14px);
    text-decoration: none;
    width: fit-content;
    font-weight: 400;
    transition: 150ms linear;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
  }

  a:hover,
  button:hover {
    opacity: 0.4;
    transition: 150ms linear;
  }

  p,
  li {
    display: inline;
    line-height: 1.6;
    font-size: clamp(12px, 2vw, 14px);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
  }

  li {
    margin-left: 1.4rem;
    width: fit-content;
  }

  nav {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
  }

  .nav-dropdown {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .nav-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    top: 0;
    transition: 150ms ease-out;
  }

  .nav-link {
    display: none;
  }

  .nav-button:hover .nav-link {
    display: flex;
  }

  .vid {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    scale: 1;
    transition: 300ms ease-in-out;
  }

  .cardHolder,
  .cardTitleHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 1.5rem;
  }

  .cardTitleHolder {
    width: 100%;
    justify-content: center;
    padding-top: 1rem;
    opacity: 0;
    animation: fade 1000ms ease-in-out forwards;
    animation-delay: 2s;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    height: 45vh;
    position: relative;
    overflow: hidden;
    transition: 150ms linear;
  }

  .containerHolder {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cardDescriptionLeft,
  .cardDescriptionRight {
    position: relative;
    backdrop-filter: blur(8px) saturate(200%);
    padding: 2rem;
    background: #F2F3F410;
    border: 1px solid #F2F3F410;
    width: auto;
  }

  .description {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: left;
  }

  .container {
    width: 90%;
  }

  .containerTitle {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2.5rem;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    width: 95%;
  }

  .background {
    width: 100%;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    object-position: bottom center;
    opacity: 0.55;
  }

  .background-overlay {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
  }

  #fade {
    animation: fadeInOut 5s ease-in-out infinite;
    -webkit-animation: fadeInOut 5s ease-in-out infinite;
    animation-delay: 3s;
    opacity: 0;
    font-weight: 300;
    color: #F2F3F4;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      -webkit-opacity: 0;
    }

    25% {
      opacity: 1;
      -webkit-opacity: 1;
    }

    50% {
      opacity: 1;
      -webkit-opacity: 1;
    }

    75% {
      opacity: 1;
      -webkit-opacity: 1;
    }

    100% {
      opacity: 0;
      -webkit-opacity: 0;
    }
  }
}

@media (min-width: 1199px) {
  .title {
    line-height: 1;
  }

  .nav-dropdown {
    width: 95%;
  }

  .card {
    height: 100vh;
  }

  .vid {
    height: 95vh;
  }

  .cardDescriptionLeft,
  .cardDescriptionRight {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    width: 600px;
  }

  .cardDescriptionLeft {
    left: 2rem;
  }

  .container {
    width: 70%;
  }

  nav {
    position: fixed;
    display: flex;
  }

  .overlay {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  .cardTitleHolder {
    padding-top: 2rem;
  }

  .containerTitle {
    width: 75%;
  }

  .card-title {
    max-width: 65%;
  }

  .footer {
    gap: 4rem;
    justify-content: right;
  }
}