@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    position: relative;
    background: #000000;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 2;
  }

  button {
    all: unset;
    cursor: pointer;
    transition: 150ms linear;
  }

  h1 {
    display: inline;
    color: whitesmoke;
    font-family: "Inter Tight", sans-serif;
    font-weight: 800;
    line-height: 1;
    font-size: clamp(36px, 8vw, 120px)
  }

  h2 {
    display: inline;
    color: whitesmoke;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: clamp(24px, 2vw, 32px)
  }

  p,
  span,
  a,
  button {
    display: inline;
    color: whitesmoke;
    font-family: "Inter Tight", sans-serif;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 400;
    line-height: 1.6;
  }

  span {
    display: inline;
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 400;
    line-height: 1.4;
  }

  a,
  button {
    text-decoration: none;
    width: fit-content;
    font-weight: 400;
    transition: 150ms linear;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  a:hover,
  button:hover {
    opacity: 0.4;
    transition: 150ms linear;
  }

  p {
    font-size: clamp(14px, 2vw, 16px);
    color: #f5f5f580;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .bio {
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0rem;
    height: 5rem;
    transition: 0.3s;
    width: 100%;
    z-index: 3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 950px;
    scale: 1;
    transition: 300ms ease-in-out;
  }

  input,
  textarea {
    font-size: clamp(16px, 2vw, 18px);
    padding: 1rem;
    border: 1px solid transparent;
    background: #f5f5f510;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-border-radius: 0;
    border-radius: 0.8rem;
    transition: 150ms linear;
    outline: none;
  }

  input:hover,
  textarea:hover {
    outline: none;
    border: 1px solid #f5f5f580;
    transition: 150ms linear;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid whitesmoke;
  }

  ::placeholder {
    color: #f5f5f540;
    opacity: 1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 90%;
  }

  .cardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
  }

  .card-title {
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 2rem;
  }

  .blink {
    animation: blink 3s infinite;
    color: whitesmoke;
  }

  .blinking-dot {
    width: 0.5rem;
    aspect-ratio: 1/1;
    background-color: rgb(119, 245, 119);
    border-radius: 100rem;
    animation: blink 3s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 1;
    }
  }

  .card,
  .cardShowcase {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: #f5f5f510;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 95%;
    height: 650px;
    position: relative;
    overflow: hidden;
    transition: 150ms linear;
  }

  .cardShowcase {
    height: auto;
  }

  .card:hover {
    .img {
      cursor: pointer;
      scale: 1.0375;
      transition: 300ms ease-in-out;
    }
  }

  .containerHolder {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container,
  .containerTitle {
    width: 90%;
  }

  .containerTitle {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2.5rem;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 90%;
  }
}

@media (min-width: 1199px) {
  .bio {
    width: 65%;
  }

  .container,
  .containerTitle {
    width: 70%;
  }

  .containerTitle {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  form {
    width: 40%;
  }

  input,
  textarea {
    padding: 1.4rem;
  }

  .nav {
    gap: 4rem;
  }

  .card {
    width: 40%;
    height: 900px;
  }

  .cardShowcase {
    width: 65%;
    height: 95vh;
  }

  .footer {
    gap: 4rem;
  }
}