@import url("https://api.fontshare.com/v2/css?f[]=switzer@100,101,200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap");
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    position: relative;
    background: black;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 2;
    color: #F2F3F4;
    font-family: "Switzer", sans-serif;
  }

  button {
    all: unset;
    cursor: pointer;
    transition: 150ms linear;
  }

  h1,
  .title1,
  .title2 {
    display: inline;
    line-height: 1.05;
    font-size: clamp(24px, 2vw, 34px);
    font-weight: 500;
    font-family: 'Clash Display', sans-serif;
  }

  .title1,
  .title2 {
    font-size: clamp(38px, 8vw, 128px);
    font-weight: 700;
    animation: fadeUp 750ms ease-in-out forwards;
    animation-delay: .5s;
    opacity: 0;
    text-align: center;
  }

  .title2 {
    animation: fadeUp 750ms ease-in-out forwards;
    animation-delay: 1s;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50%)
    }

    100% {
      opacity: 1;
      transform: translateY(0%)
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  h2 {
    display: inline;
    color: #7C7C7C;
    font-weight: 400;
    font-size: clamp(20px, 2vw, 24px);
  }

  span {
    display: inline;
    color: #7C7C7C;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 500;
    line-height: 1.6;
  }

  a,
  button,
  .menu {
    display: inline;
    font-size: clamp(12px, 2vw, 14px);
    text-decoration: none;
    width: fit-content;
    font-weight: 400;
    transition: 150ms linear;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
  }

  a:hover,
  button:hover {
    opacity: 0.4;
    transition: 150ms linear;
  }

  p,
  li {
    display: inline;
    line-height: 1.6;
    font-size: clamp(12px, 2vw, 14px);
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
  }

  li {
    margin-left: 1.4rem;
    width: fit-content;
  }

  .logo {
    position: absolute;
    left: 5%;
    top: 2.5rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
  }

  .nav-dropdown {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .nav-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    top: 0;
    transition: 150ms ease-out;
  }

  .nav-link {
    display: none;
  }

  .nav-button:hover .nav-link {
    display: flex;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 85vh;
    scale: 1;
    transition: 300ms ease-in-out;
  }

  .vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: 300ms ease-in-out;
  }

  input,
  textarea {
    line-height: 1.6;
    font-size: clamp(14px, 2vw, 16px);
    padding: 1rem;
    border: 1px solid transparent;
    background: #ffffff10;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-border-radius: 0;
    border-radius: 1rem;
    transition: 150ms linear;
    outline: none;
  }

  ::placeholder {
    color: #7C7C7C;
    opacity: 1;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 90%;
  }

  .cardHolder,
  .cardTitleHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 1.5rem;
  }

  .cardTitleHolder {
    /* justify-content: space-between; */
    width: 100%;
    justify-content: right;


    align-items: flex-end;
    padding-top: 1rem;
    opacity: 0;
    animation: fade 1000ms ease-in-out forwards;
    animation-delay: 2s;
  }

  .card-title {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .card,
  .cardShowcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    height: 85vh;
    position: relative;
    overflow: hidden;
    transition: 150ms linear;
  }

  .cardContactHolder {
    display: none;
  }

  .cardShowcase {
    width: 95%;
    height: 95vh;
    /* border: 1px solid #7C7C7C; */
  }

  .containerHolder,
  .containerImg {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .containerImg {
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    z-index: 2;
  }

  .containerDescription {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 6rem;
    z-index: 3;
  }

  .description {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: justify;
  }

  .container {
    width: 90%;
  }

  .containerTitle {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* text-align: center; */
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 2.5rem;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    width: 95%;
  }

  .background {
    width: 100%;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    object-position: top center;
    opacity: 0;
    animation: fade 1000ms ease-in-out forwards;
    /* scale: 1.125; */
  }

  .background-overlay {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    position: fixed;
    background: #000000bb;
  }

  #fade {
    animation: fadeInOut 5s ease-in-out infinite;
    -webkit-animation: fadeInOut 5s ease-in-out infinite;
    animation-delay: 3s;
    opacity: 0;
    font-weight: 300;
    color: #F2F3F4;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      -webkit-opacity: 0;
    }

    25% {
      opacity: 1;
      -webkit-opacity: 1;
    }

    50% {
      opacity: 1;
      -webkit-opacity: 1;
    }

    75% {
      opacity: 1;
      -webkit-opacity: 1;
    }

    100% {
      opacity: 0;
      -webkit-opacity: 0;
    }
  }
}

@media (min-width: 1199px) {
  .title {
    line-height: 1;
  }

  .nav-dropdown {
    width: 95%;
  }

  .containerImg {
    gap: 1rem;
    align-items: flex-end;
    width: 95%;
  }

  .containerDescription {
    position: fixed;
    left: 2.5%;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 0;
  }

  .container {
    width: 70%;
  }

  form {
    width: 40%;
  }

  input,
  textarea {
    padding: 1.4rem;
  }

  .logo {
    position: fixed;
    left: 2.5%;
  }

  nav {
    position: fixed;
    display: flex;
  }

  .overlay {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  .cardShowcase {
    width: 65%;
  }

  .cardContactHolder {
    display: block;
  }

  .cardTitleHolder {
    padding-top: 2rem;
  }

  .containerTitle {
    width: 75%;
  }

  .card-title {
    max-width: 65%;
  }

  .cardContact {
    display: flex;
    opacity: 1;
    margin-right: 2.5%;
    margin-bottom: 4rem;
    width: 100%;
    height: 85vh;
    border-radius: 2rem;
    object-fit: cover;
    object-position: top center;
    animation: pulse 10s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1.05);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
  }

  .footer {
    gap: 4rem;
    justify-content: right;
  }
}